.hamburger-icon {
  cursor: pointer;
  font-size: 24px;
  z-index: 1100;
  background-color: transparent;
  border-radius: 5px;
  display: block;
  margin-right: 10px;
}

#menu-toggle:checked ~ .floating-frame .menu,
#menu-toggle:checked ~ .menu ul {
  display: block;
}

#menu-toggle:not(:checked) ~ .floating-frame .menu {
  display: none;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.floating-frame,
.menu {
  display: block;
  position: fixed;
  left: 40px;
  margin: 40px auto;
  width: 80%;
  padding: 0 20px;
  background-color: transparent;
  box-sizing: border-box;
  z-index: 1000;
}

.floating-frame {
  top: 0px;
}

.menu {
  top: 20px;
}

.menu ul li {
  display: flex;
  margin-bottom: 0px;
}

.menu ul li:first-child {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.menu ul li a {
  color: #000;
  text-decoration: none;
}

.menu ul li a:hover {
  font-style: italic;
}

body {
  background-color: #00ff99;
  max-width: 700px;
  color: #000;
  line-height: 1.5rem;
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
  margin: 40px auto;
  padding: 0 20px;
}

.body-work {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

.menu-hr,
.work-hr {
  border: none;
  height: 1px;
  background-color: #000;
  margin: 2em 0;
}

.menu-hr {
  width: 220px;
}

.work-hr {
  width: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  font-style: italic;
}

img {
  max-width: 87%;
  align-content: center;
  margin: 5px 0 5px;
}

input {
  display: none;
}

iframe {
  width: 100%;
  height: calc(90vh - 20px); /* Adjust height to accommodate the margin-top */
  border: none;
  margin-top: 40px;
  box-sizing: border-box;
  overflow: hidden;
  padding-bottom: 40px; /* Add padding to the bottom */
  padding-bottom: calc(40px + env(safe-area-inset-bottom)); /* Add safe area padding */
}

.content-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  height: calc(100% - 20px - env(safe-area-inset-bottom)); /* Adjust height to avoid overflow */
  overflow-y: auto;
  margin-bottom: calc(40px + env(safe-area-inset-bottom)); /* Add margin to bottom */
}

.content-body img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  flex: 1 1 calc(33.333% - 20px);
  
}

.content-body p i {
  font-style: italic;
}

.content-body p,
.content-body i,
.subtext {
  text-align: left;
  width: 75%;
}

.subtext {
  font-size: 0.8rem;
}
